/* Réinitialisation des marges et bordures */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    background-color: #f0fbff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23000000' fill-opacity='0.44'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #2d7db4;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0;
}

/* Effet hover sur les boutons jour/nuit */
.light-mode:hover {
    background: lightgray;
}

footer {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: rgb(112, 182, 239); /* Couleur du fond identique à celle du header */
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); /* Ombre légère */
}

footer a {
    color: white; /* Lien en blanc */
    text-decoration: none; /* Enlève le souligné */
    font-weight: bold;
    margin: 0 10px; /* Espacement entre les liens */
    transition: color 0.3s;
}

footer a:hover {
    color: #FFD700; /* Changement de couleur au survol */
}

footer div {
    margin: 5px 0; /* Espacement entre les éléments */
}

footer img {
    margin: 10px 0; /* Espacement autour du logo */
}

footer .footer-link {
    color: #f1f1f1;
}

footer .footer-link:hover {
    color: #FFD700; /* Changement de couleur du lien "Plan du site" */
}


/* Section pour la page Développeur */
h2 {
    font-size: 28px;
    margin: 20px 0;
    color: #1f5d7a;
}

/* Image et vidéo du jour */
img, video {
    margin: 20px 0;
    border-radius: 10px;
}

video {
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
}

/* Section localisation */
section {
    text-align: center; /* Centre le texte */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement si nécessaire */
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    width: 80%; /* Réduit la largeur à 80% de l'élément parent */
    max-width: 1200px; /* Limite la largeur maximale pour les très grands écrans */
    margin:25px  auto; /* Centre la section horizontalement */
}

section:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Ombre plus marquée */
    }



/* Menu Button */
#menuButton {
    position: fixed;
    left: 30px;
    top: 10px;
    background-color: #4A6FA5;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 45px;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#menuButton:hover {
    background-color: #2C4A73;
    color: #AEB4DD;
}

#menuButton:active {
    transform: scale(0.95);
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -150px;
    top: 60px;
    width: 40px;
    height: 40px;
    background-color: #DEE7F3;
    padding: 10px;
    border: 3px solid #4A6FA5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease-in-out, width 0.3s, height 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

/* Ouvrir le menu */
#sidebar:target {
    left: 25px;
    width: 200px;
    height: 300px;
}

/* Liste des liens */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

#sidebar:target ul {
    display: block;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #2C4A73;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    color: #5C85B6;
}

/* Bouton de fermeture */
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #2C4A73;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Responsive Design pour mobile */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    footer {
        font-size: 16px;
    }

    footer a {
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    section p {
        font-size: 18px;
    }
}

 /* Section globale */
/* From Uiverse.io by zanina-yassine */ 
.container {
  width: 250px;
  height: 250px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

  
  /* Formulaire */
form {
    margin: 20px auto;
    padding: 20px;
    background: rgba(98, 163, 243, 0.2);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
    color: #47c5e8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: rgb(242, 248, 250);
    border: none;
    border-radius: 5px;
    color: #47c5e8;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"]::placeholder {
    color: rgba(161, 211, 239, 0.7);
}

form input[type="submit"] {
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 20px;
    color: #47c5e8;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Section contenant les liens */
.links-section {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner les liens verticalement */
    justify-content: center; /* Centrer les éléments verticalement dans la section */
    align-items: center; /* Centrer les éléments horizontalement */
    gap: 20px; /* Espacement entre les liens */
    padding: 20px; /* Ajouter un peu d'espace autour des éléments */
    background-color: #f4f4f4; /* Couleur de fond douce pour la section */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet moderne */
}

/* Styles des liens */
.links-section a {
    text-decoration: none; /* Supprimer le soulignement par défaut */
    color: #333; /* Couleur de texte foncée */
    font-size: 18px; /* Taille de texte agréable */
    font-weight: 600; /* Police en gras pour un meilleur contraste */
    padding: 10px 20px; /* Ajouter un peu de padding pour les rendre plus cliquables */
    border-radius: 5px; /* Coins arrondis pour les liens */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les effets au survol */
}

/* Effet de survol */
.links-section a:hover {
    background-color: #007BFF; /* Couleur de fond lors du survol */
    color: #fff; /* Changer la couleur du texte en blanc au survol */
}

/* Style pour les listes de prévisions */
ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}
#navIndex li{
    background:rgba(3, 154, 205, 0.7);
}
ul li {
    background: rgba(242, 248, 250, 0.7);
    margin-bottom: 10px;
    padding: 12px 15px;
    border-radius: 5px;
    border-left: 4px solid #47c5e8;
    transition: transform 0.2s;
}

ul li:hover {
    transform: translateX(5px);
    background: rgba(242, 248, 250, 0.9);
}

/* Style pour les prévisions par jour */
ul li strong {
    color: #47c5e8;
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.histogramme {
     max-width: 800px;
    margin: 30px auto;
}
    
.barre-container {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
    
.ville {
    width: 150px;
    font-weight: bold;
}
    
.barre {
    background: #47c5e8;
    height: 30px;
    border-radius: 4px;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
}
    
.compteur {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


.meteo-box {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.meteo-horizontal {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
    flex-wrap: wrap; /* Pour que ça passe à la ligne sur petits écrans */
}

.meteo-horizontal li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
